:root{
--pink: #efdbdb;
--white: #FFFFFF;
--dark-brown: #47271b;
--light-brown: #c28d7d;
--black: #000000;
--font-fam: Optima, sans-serif;
}

.header{
    padding: 10px;
    font-family: Optima, sans-serif;
    background-color: var(--dark-brown);
    color: var(--pink);
    display: flex;

}

nav{
    display:block
}

nav a {
    text-align: center;
    padding: 2px;
    color: white;
}

/* how do I make list items display right?*/

.header nav ul li {
    color: var(--pink);
    display: inline;
}

.hero {
    display:block;
    height:350px;
    width:100%;
    margin-bottom:25px;
    background-image: linear-gradient(rgba(52, 23, 59, 0.179), rgba(0, 0, 0, 0.7)), url("./images/Cinthia\ Pruitt\ -\ Headshot.jpeg"); 
    background-position: center ;
    background-size: cover;
    text-align: right;
    color: var(--white);
}
/* how do I center the text on the right?*/

.hero button{
    background-color: var(--light-brown);
    border:.5px;
    color: var(--white);
    text-align:center;
    display: inline-block;
    font-size:100%;
}

.hero button:hover{
background-color: var(--pink);
border: none;
color: var(--dark-brown);
}

.about-me{
    background-color: var(--white);
    display: block;
    margin-bottom: 20px;
}

#image{
   float:left; 
   padding-right:5%;
}

#portfolio-title{
    display:block;
    padding-top: 5px;
    text-align: center;
    background-color: var(--pink);
    color: var(--dark-brown);
    border-bottom: 1px dotted;
    
}

#portfolio-headerers{
    display:block;
    padding:2px;
    text-align: center;
    color: var(--white);
    background-color: var(--pink);
}

.marketing-portfolio{
     display: flex;
    flex-wrap: column;
    justify-content: space-evenly;
}

.ad-development{
    margin-top: 20px;
    position: relative;
    width: 100%;
}

/*
.ad-development {
    position: relative;
    width: 50%;
  }
  */
  
  .image {
    display: inline-block;
    width: 50%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 50%;
    height: 0;
    transition: .5s ease;
  }
  
  .ad-development:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #contact-headerer{
    display:block;
    padding:2px;
    text-align: center;
    color: var(--dark-brown);
    background-color: var(--pink);
    border-bottom: 1px dotted;
}

.contact-list{ 
    color: var(--pink);
    display: inline-block;
    list-style: none;
    font-family: var(--font-fam);
    font-size: 200%;
    margin: 15px;
}

footer{
    background-color: var(--dark-brown);
    color: var(--light-brown);
    text-align: center;
    padding: 15px;
    
}