:root{
--pink: #efdbdb;
--white: #FFFFFF;
--dark-brown: #47271b;
--light-brown: #c28d7d;
--black: #000000;
--font-fam: Optima, sans-serif;
}

.header{
    padding: 10px;
    font-family: Optima, sans-serif;
    background-color: var(--dark-brown);
    color: var(--pink);
    display: flex;
    justify-content: space-between; 
    text-decoration: none;
}

nav{
    display: block;
}

nav a {
    text-align: center;
    padding: 2px;
    color: white;
}

.header > nav ul li {
    color: var(--pink);
    display: inline;
}

.hero {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:500px;
    width:100%;
    padding:25px;
    margin: 5px;
    background-image: linear-gradient(rgba(52, 23, 59, 0.179), rgba(0, 0, 0, 0.7)), url("./images/Cinthia\ Pruitt\ -\ Headshot.jpeg"); 
    background-position: center;
    background-size: cover;
    text-align: center;
    color: var(--white);
    font-size: 120%;
}

.hero button{
    background-color: var(--light-brown);
    color: var(--white);
    text-align:center;
    text-decoration: none;
    width: 10%;
    margin: 0 auto;
    font-size:100%;
}

.hero button:hover{
background-color: var(--pink);
border: none;
color: var(--dark-brown);
}

.about-me{
    background-color: var(--white);
    display: block;
    margin-bottom: 20px;
}

#image{
   float:left; 
   padding-right:5%;
}

#portfolio-title{
    display:block;
    padding-top: 5px;
    text-align: center;
    background-color: var(--pink);
    color: var(--dark-brown);
    border-bottom: 1px dotted;
}

#portfolio-headerers{
    display:block;
    padding:2px;
    text-align: center;
    color: var(--white);
    background-color: var(--pink);
}

.marketing-portfolio{
     display: flex;
    flex-wrap: column;
    justify-content: space-evenly;
}

.ad-development{
    margin-top: 20px;
    position: relative;

}

  .image {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 50%;
    height: 0;
    transition: .5s ease;
  }
  
  .ad-development:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #contact-headerer{
    display:block;
    padding:2px;
    text-align: center;
    color: var(--dark-brown);
    background-color: var(--pink);
    border-bottom: 1px dotted;
}

.contact-list{ 
    color: var(--pink);
    display: inline-block;
    list-style: none;
    font-family: var(--font-fam);
    font-size: 200%;
    margin: 15px;
}

.contactlist-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer{
    background-color: var(--dark-brown);
    color: var(--light-brown);
    text-align: center;
    padding: 15px;
}

#dev-project img{
    width: 50%;
    height: auto;
}

#dev-project img:hover{
    width: 70%;
    height: auto;
}

@media screen and (max-width: 992px) {
    .header > nav ul li {
        color: var(--white);
        display: list-item;
        list-style: none;
    }

    .header{
        padding: 10px;
        font-family: Optima, sans-serif;
        background-color: var(--pink);
        color: var(--dark-brown);
        display: flex;
        justify-content: space-between; 
        text-decoration: none;
    }
   
  .hero button{
    width: 30%;
    margin: 0 auto;
    font-size:100%;
}

        #dev-project img{
            width: 50%;
            height: auto;
        }

        #dev-project img:hover{
            width: 70%;
            height: auto;
        }
        
    }

  @media screen and (max-width: 768px) {

    .header > nav ul li {
        color: var(--white);
        display: list-item;
        list-style: none;
    }
    .header{
        padding: 10px;
        font-family: Optima, sans-serif;
        background-color: var(--light-brown);
        color: var(--black);
        display: flex;
        justify-content: space-between; 
        text-decoration: none;
    }

    .marketing-portfolio{
        display: flex;
       flex-direction: column;
        justify-content: center;
       align-items: center;
       width: 100%;
   }



  }
  
 
  @media screen and (max-width: 576px) {
    .header{
        padding: 10px;
        font-family: Optima, sans-serif;
        background-color: var(--black);
        color: var(--pink);
        display: flex;
        justify-content: space-between; 
        text-decoration: none;
    }
  }
  
  